
<mat-card class="manDiv" >

    <mat-card-title >  
      {{ title }}
    </mat-card-title>
    
   
         
        <mat-form-field class="manDiv"><input [(ngModel)]="newToDoName"  matInput placeholder="name" value=""></mat-form-field>    
    
       <mat-form-field class="manDiv"> <input [(ngModel)]="newToDoTime"  matInput placeholder="time" value=""> </mat-form-field> 
    
       <button  class="butt" mat-button (click)="addToDo(newToDoName,newToDoTime)"><mat-icon aria-hidden="false" aria-label="add">add</mat-icon></button>
           
      <form>
     
     </form>
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </mat-card>